server:
    port: 8081
    servlet:
        encoding:
            force: true

spring:
    datasource:
        url: jdbc:mariadb://127.0.0.1:3306/jboss_local?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
        username: not-a-valid-username
        password: not-a-valid-password
        hikari:
            auto-commit: true
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: false
        open-in-view: false
    servlet:
        multipart:
            max-request-size: 20MB
            max-file-size: 10MB

system:
    filePath:
        base: /put/your/own/path/here
        uploads: and/here